/* Reset css*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
/* 
1. từ ngoài vào trong
2. từ Trên xuống dưới
3. Tổng quan đến chi ti
*/

/* 
1. Vi tri 
2. Kich thuoc
3. Mau sac
4. Kieu Dang (kieu chu, hinh tron, vuong ...)
*/
/* Common */
.clear{
    clear:both;
}
.btn{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 11px 19px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.pull-right{
    float: right !important;
}

.btn:hover{
    color: #000 ;
    background-color: rgb(107, 104, 104);
}

.text-white{
    color:#fff !important
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float:left;
    padding-left:8px;
    padding-right:8px;
}
.col-3{
    width: calc(100%/3);
}
.col-2{
    width:50%;
}
.col-full{
    width: 100%;
}
.text-center{
    text-align: center !important;
}
.mt-8{
margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
    }
    
#main{
    
}

#Header{
    height: 46px;
    background-color: black;
    position: fixed;
    top : 0;
    left: 0;
    right: 0;
    z-index: 1;
    
}
#nav {
    display: inline-block;
} 

#nav > li{
    display: inline-block;
}

#nav, .subnav {
    list-style: none;
}

#nav li {
    position: relative;

    
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover> a{
    color: rgb(0, 0, 0);
    background-color: rgb(119, 119, 119);
}

#nav > li > a{
    color: white;
    text-transform: uppercase;
}

#nav li a{
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    
}
#nav .subnav a{
    color: black;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down{
    font-size: 12px;
}

#Header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#Header .mobile-menu-btn,
#Header .search-btn{
    
    float:right;
    padding: 0 23px;
   ;
    

}
#Header .mobile-menu-btn:hover{
    background-color: #969595;  
}

#Header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}

#Header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#Header .menu-icon,
#Header .search-icon{
    color: rgb(226, 226, 226);
    font-size: 16px;
    line-height: 46px;
}


#Slider{
     margin-top: 46px;
     padding-top: 50%;
    background: url('/W3_band/assets/img/Slider1.jpg') top center/ cover no-repeat;
     position: relative;
}
#Slider .text-content{
    position: absolute;
    color: #fff;
    bottom: 47px;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    text-align: center;
    width: 100%;
}
#Slider .text-heading{
    font-weight: 550;
    font-size: 24px;
    margin-bottom: 25px;
}
#Slider .text-description{
    font-size: 15px;
    text-shadow: 0 0 4px black;
}

#Content{
   
}

#Content .content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;

    
}

#Content .section-heading{
    font-size: 30px;
    font-weight: 100;
    margin: 10px 0;
    letter-spacing: 5px;
    text-align: center;
}

#Content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin: 15px 0;
    font-style: italic;
    opacity: 0.6;

}

#Content .about-text{
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

#Content .members-list{
    margin-top: 32px;
    
}


#Content .member-name{
    font-size: 15px;
    
    margin: 15px 0;
}

#Content .member-img{
    width: 154px;
    border-radius: 4px;
}
/* Tour section */
.tour-section{
    background-color: #000;
}

.ticket-list{
    background-color: #fff;
    margin-top: 38px;
}

.ticket-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    list-style: none;
}

.ticket-list .sold-out{
background-color: #f44336;
color: #fff;
padding: 3px 8px;
margin-left: 16px;
}

.ticket-list .quantity{
     float: right;
     width: 24px;
     height: 24px;
     color: #fff;
     border-radius: 50%;
     text-align: center;
     line-height: 24px;
     background-color: #000;
     margin-top: -3px;
     

}

.places-list{
    margin-top: 16px;
    padding-bottom: 48px ;
}



.place-img{
    width: 100%;
    display: block;
}

.place-img:hover{
    opacity: 0.6;
}

.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
    
}

.place-heading{
    font-weight: 600;
}

.place-time{
margin-top: 15px;
opacity: 0.6;

}

.place-desc{
margin-top: 15px;
line-height: 1.4;
}



.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open{
    display: flex;
}

.modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 1s;
}

.modal-header{
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    
}

.modal-close{
    position: absolute;
    right: 0;
    padding: 8px;
    top: 0;
    cursor: pointer;
    opacity: 0.6;
    
}

.modal-close:hover{
    color: #ccc;
    opacity: 1;
    
}

.modal-body{
    padding: 16px; 
}
.modal-label{
    display: inline-block;
    font-size: 15px;
    margin-bottom: 12px;

}

.modal-input{
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
    width: 100%;
    margin-bottom: 24px;
}

#buy-tickets {
    width: 100%;
    background-color: #009688;
    
    padding: 16px 0 16px;
    font-size: 15px;
    color: #fff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

#buy-tickets:hover{
    cursor: pointer;
    opacity: 0.8;
}
.modal-footer{
    padding: 16px;
    text-align: right;
}
.modal-footer a{
    color: #2196F3;
}

/* Contact form */

.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
    
}

.contact-form{
    font-size: 15px;

}
.form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

/* Map section */
.map-section img{
    width: 100%;
}
#Footer{
    padding: 64px 16px;
    text-align: center;
    opacity: 0.6;
}
#Footer .social-list{
    font-size: 23px;
}
#Footer .social-list a{
     text-decoration: none;
}
#Footer .social-list a:hover{
    color: #000;
    opacity: 0.4;
}
#Footer a{
    color: #000;
}
#Footer .copyright{
    margin: 15px 0;
}
@keyframes modalFadeIn {
    from{
    opacity: 0;
    transform: translateY(-180px);
    }
    to{
    opacity: 1;
    transform: translateY(0px);
    }
}
